{
  "default_tenant": "authority-brands",
  "tenants": {
    "authority-brands": {
      "tenant_id": "",
      "client_id": "",
      "client_secret": "",
      "sentinel_subscription_id": "",
      "sentinel_resource_group": "",
      "sentinel_workspace_name": "",
      "sentinel_workspace_id": ""
    },
    "tosca": {
      "tenant_id": "",
      "client_id": "",
      "client_secret": "",
      "sentinel_subscription_id": "",
      "sentinel_resource_group": "",
      "sentinel_workspace_name": "",
      "sentinel_workspace_id": ""
    },
    "third-tenant": {
      "tenant_id": "",
      "client_id": "",
      "client_secret": "",
      "sentinel_subscription_id": "",
      "sentinel_resource_group": "",
      "sentinel_workspace_name": "",
      "sentinel_workspace_id": ""
    }
  }
}
